doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Parth Parikh

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Parth Parikh
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpeg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#work') Work Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    .extra-item-hidden
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#acomplishments') Accomplishments

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Parth
                        span.text-primary Parikh
                    .subheading.mb-5
                        span parthparikh28@outlook.com


                    p.lead.mb-5
                        | Student at
                        img(src='assets/img/neu_logo.png' style='width: 30px')
                        span.neu-red  Northeastern University, Boston
                        |  pursuing
                        b  Masters of Science in Computer Science.

                        br
                        | Previously worked at e-Yantra, IIT-Bombay.
                        br
                        | Graduated from Pune University with a Bachelor's degree in Computer Engineering.
                        br
                        | Love playing tennis.
                        br
                        | Always interested to learn more about computer science, technology, project ideas, etc.

                    h3.mb-3
                        | Get in touch
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/ptp/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/ptp28')
                            i.fab.fa-github
                        a.social-icon(href='mailto:parthparikh28@outlook.com')
                            i.fa.fa-envelope

                    div.subheading.font-weight-normal.mt-5.text-black.extra-item-hidden
                        | study in BOSTON, MA 📍
                        br
                        span.text-primary from PUNE, INDIA 🏠

            hr.m-0

            // Work Experience
            section#work.resume-section
                .resume-section-content
                    h2.mb-5 Work Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 e-Yantra, Indian Institute of Technology Bombay
                            .subheading.mt-1 Sr. Technical Project Research Assistant
                            ul.mb-0
                                li Part of the sofware development team.
                                li Developed an automated grading tool called ‘GradeFast’ to exponentially reduce the time taken to grade assignments compared to manual evaluation.
                                li Developed an online learning platform for beginners to learn coding in Python by making them solve a series of games and challenges.
                                li Maintained the payment gateway server, which handles all monetary transactions for the organization.
                                li Developed and embedded an interactive conversational chatbot in the e-Yantra Community App that responds and delivers information about e-Yantra’s activities.
                            br
                            .subheading.mt-1 Summer Intern (Remote)
                            ul.mb-0
                                li Test Driven Development for writing test scripts for the TIVA Launchpad, MSP430 microcontroller.
                                li Developed a cross-platform CLI app for evaluating and grading assignments of students on the client side while maintaining security and confidentiality of the test scripts.

                                a.extra-item-hidden.social-icon-set(href='https://www.youtube.com/watch?v=MdUUiR9YFro')
                                    i.fab.fa-youtube
                                    |       Overview of the project

                        .flex-shrink-0
                            span.text-primary 2020 - 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Virtual Labs, Indian Institute of Technology Bombay
                            .subheading.mt-1 Resource Person
                            ul.mb-0
                                li Resource Person and Speaker at 3 National level Virtual Lab Development Bootcamps.
                                li Developed a Computer Graphics virtual lab, approved by IIT-Bombay and used across India by more than 100,000 students to date
                            br
                            .subheading.mt-1 Summer Intern
                            ul.mb-0
                                li Developed the ‘VlabsDev’ Development Portal to track development, release and reception of all virtual labs developed across India.
                        .flex-shrink-0
                            span.text-primary 2018 - 2019

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Northeastern University, Boston
                            .subheading.mb-3 Master of Science in Computer Science
                            div.mb-3 Subjects :
                                br
                                | Programming Design Paradigms, Foundations of AI
                        .flex-shrink-0
                            span.text-primary 2022 - 2024 (Expected)

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Savitribai Phule Pune University
                            .subheading.mb-3 Bachelor of Engineering in Computer Engineering
                            div.mb-3 Subjects :
                                br
                                | System Programming & Operating Systems, Embedded Systems & IOT, Microprocessor, Software Engineering, Data Analytics,  Theory of Computation, Computer Graphics, Computer Networks, Database Management Systems, Soft Computing and Optimisation of Algorithms, Machine Learning, Cloud Computing, High Performance Computing.
                            div CGPA: 8.4/10
                        .flex-shrink-0
                            span.text-primary 2016 - 2020

                    div.extra-item-hidden
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 S.M. Choksey Junior College
                                .subheading.mb-3 Higher Secondary Certificate (HSC)
                            .flex-shrink-0
                                span.text-primary 2014 - 2016

                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 The Bishop's School, Camp
                                .subheading.mb-3 Indian Certificate of Secondary Education (ICSE)
                            .flex-shrink-0
                                span.text-primary 2002 - 2014

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-0
                            h3.mb-0 Gradefast
                            //.subheading.mb-3 e-Yantra
                            p An automated grading tool called ‘GradeFast’ to exponentially reduce the time taken to grade assignments compared to manual evaluation.
                        .flex-shrink-0.mt-3
                            span.text-primary #python #docker

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-0
                            h3.mb-0 Python Combat
                            //.subheading.mb-3 e-Yantra
                            p An online learning platform for beginners to learn coding in Python by making them solve a series of games and challenges.
                        .flex-shrink-0.mt-3
                            span.text-primary #python #js

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-0
                            h3.mb-0 Oncoradiology Second Opinion Portal
                            //.subheading.mb-3 e-Yantra
                            p An online portal where patients can submit their radiology reports to get a second opinion from a team of doctors.
                            a.social-icon-set(href='oncoradx.com')
                                i.fas.fa-link
                                |       oncoradx.com
                        .flex-shrink-0.mt-3
                            span.text-primary #django #html/css/js #mysql

                    .extra-item-hidden
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-0
                                h3.mb-0 Disaster Management Platform
                                //.subheading.mb-3 e-Yantra
                                p A mobile application for the Kolhapur district government to manage rescue and relief operations during a crisis.
                            .flex-shrink-0.mt-3
                                span.text-primary #android #mysql #firebase

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5.extra-item-hidden
                        .flex-grow-0
                            h3.mb-0 e-Yantra Learning Analytics Dashboard
                            //.subheading.mb-3 e-Yantra
                            p A learning analytics dashboard that analyses student engagement during competitions and courses.
                            a.social-icon-set(href='eylad.e-yantra.org')
                                i.fas.fa-link
                                |       eYLAD
                        .flex-shrink-0.mt-3
                            span.text-primary #django #html/css/js #mysql

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-0
                            h3.mb-0 e-VA: The e-Yantra Virtual Assistant
                            //.subheading.mb-3 e-Yantra
                            p An interactive conversational chatbot for the e-Yantra Community App that responds and delivers information about e-Yantra’s activities.
                        .flex-shrink-0.mt-3
                            span.text-primary #python #rasa #postgresql

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-0
                            h3.mb-0 SPArK-BOT Platform
                            .subheading.mb-3 (e-Yantra Ideas Competition 19-20)
                            p It is a highly versatile educational robot focused on teaching beginner-friendly programming and robotics. At the same time, it is a scalable platform, and experiences programmers can use it to build advanced robotic applications.
                            a.social-icon-set(href='https://youtu.be/zDt4yl8qHLg')
                                i.fab.fa-youtube
                                |       Demonstration video
                            a.social-icon-set(href='https://youtu.be/PmfAKlIVun4')
                                i.fab.fa-youtube
                                |       Elevator Pitch    
                        .flex-shrink-0.mt-3
                            span.text-primary #python #raspberrypi #scratch #js

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Computer Graphics Virtual Lab
                            //.subheading.mb-3 Virtual Labs, Indian Institute of Technology - Bombay
                            p Developed a Computer Graphics virtual lab, endorsed by IIT-Bombay, and used across India by more than 100,000 students to date.
                            a.social-icon-set(href='http://vlabs.iitb.ac.in/vlabs-dev/labs/cglab/index.html')
                                i.fas.fa-flask
                                |       Virtual lab hosted by IIT-Bombay
                        .flex-shrink-0.mt-3
                            span.text-primary #html/css/js #bootstrap

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SPArK Messenger
                            p Did a survey of all the popular messaging platforms available in the market. Studied the survey findings and developed six features not present in any existing apps.
                                br
                                | Also developed an app to manage Firebase database easily from any phone without using Google’s online portal. This app is still under development.
                            a.social-icon-set(href='https://play.google.com/store/apps/developer?id=SPArK+Apps')
                                i.fab.fa-google-play
                                |       Google Play Store
                        .flex-shrink-0.mt-3
                            span.text-primary #android #java #firebase

                    .extra-item-hidden
                        .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                            .flex-grow-1
                                h3.mb-0 Firebase Realtime Database Manager
                                p Developed a native android app to manage the Firebase Realtime Database rather than using the web interface.
                            .flex-shrink-0.mt-3
                                span.text-primary #android #java #firebase

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Javascript Game Developer
                            //.subheading.mb-3 Third Year Mini-Project
                            p
                                | Developed a catalog of simple, retro styled, browser based games, entirely coded in vanilla Javascript.
                            a.social-icon-set(href='https://ptp28.github.io/games-js/')
                                i.fas.fa-gamepad
                                |       Play games in your browser.
                            a.social-icon-set(href='https://github.com/ptp28/games-js')
                                i.fas.fa-code
                                |       Source code.    
                        .flex-shrink-0.mt-3
                            span.text-primary #html/css/js


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Loony Tunes
                            //.subheading.mb-3 Third Year Mini-Project
                            p
                                | Developed an application called 'Loony Tunes' which let's you upload, store, and play all of your music from the cloud.
                            a.social-icon-set(href='https://loonytunes.herokuapp.com')
                                i.fas.fa-music
                                |       Loony Tunes.
                            a.social-icon-set(href='https://github.com/ptp28/loony-tunes')
                                i.fas.fa-code
                                |       Source code.    
                        .flex-shrink-0.mt-3
                            span.text-primary #html/css/js #django #mysql


            hr.m-0

            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Towards developing a learning analytics dashboard for a massive online robotics competition
                            .subheading.mb-3 IEEE
                            div.mb-2 This research discusses a dashboard developed for a robotics competition where team characteristics are considered for clustering teams and developing models to predict participants' retention and help the competition's instructors monitor their progress and intervene if necessary.
                            a.social-icon-set(href='https://ieeexplore.ieee.org/abstract/document/9766808')
                                i.fas.fa-bookmark
                                |       Link to IEEE Xplore
                        .flex-shrink-0
                            span.text-primary 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SPArK-Bot: An Educational Robotic Platform
                            .subheading.mb-3 IEEE
                            div.mb-2 This paper reports the development and explains the features of a highly versatile educational robot focused on teaching beginner-friendly programming and robotics.
                            a.social-icon-set(href='https://ieeexplore.ieee.org/abstract/document/9766694')
                                i.fas.fa-bookmark
                                |       Link to IEEE Xplore
                        .flex-shrink-0
                            span.text-primary 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Auto-Query - A simple natural language to SQL query generator
                            .subheading.mb-3 IEEE
                            div.mb-2 The study explored ways to develop an application that takes questions in a natural language and converts them into SQL queries using a sequence-to-sequence model for an e-learning platform.
                            a.social-icon-set(href='https://ieeexplore.ieee.org/abstract/document/9766617')
                                i.fas.fa-bookmark
                                |       Link to IEEE Xplore
                        .flex-shrink-0
                            span.text-primary 2022

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            | C / C++
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-android
                        li.list-inline-item
                            i.fab.fa-swift
                        //li.list-inline-item
                        //    i.fab.fa-laravel
                        li.list-inline-item
                            i.fab.fa-raspberry-pi
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-linux
                    .subheading.mb-3 Workflows
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Test Driven Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git

            hr.m-0

            // Accomplishments
            .extra-item-hidden
                section#acomplishments.resume-section
                    .resume-section-content
                        h2.mb-5 Accomplishments
                        ul.fa-ul.mb-0
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Mentor to 15+ interns during the e-Yantra Summer Internship Program 2021 and 2022.
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Winner at the National Finals of the e-Yantra Ideas Competition 2019-20, hosted by IIT-Bombay.
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st
                                | Place in I2IT State Level Project Competition 2020.
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Head of IIT-Bombay's Student's forum for virtual lab development.
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Resource Person and Speaker at 3 National level Virtual Lab Development Bootcamps.
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Head of the Technical Team of the student's association of the Computer Department of PVG's COET.


        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
