doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Parth Parikh

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Parth Parikh
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpeg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#acomplishments') Acomplishments

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Parth
                        span.text-primary Parikh
                    .subheading.mb-5
                        | Pune · Maharashtra, India · 🇮🇳 ·
                        a(href='mailto:parthparikh28@outlook.com') parthparikh28@outlook.com
                    p.lead.mb-5
                        | Currently working at e-Yantra, IIT-Bombay.
                        br
                        | Studied Computer Engineering from PVG's COET, Pune.
                        br
                        | Love playing tennis.
                        br
                        | Always interested to learn more about computer science, technology, project ideas, etc.

                    .social-icons
                        h1.subheading.mb-5
                            | Get in touch
                        a.social-icon(href='https://www.linkedin.com/in/ptp/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/ptp28')
                            i.fab.fa-github
                        a.social-icon(href='mailto:parthparikh28@outlook.com')
                            i.fa.fa-envelope

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Summer Intern
                            .subheading.mb-3 e-Yantra, Indian Institute of Technology - Bombay
                            p
                                | Test Driven Development for creating applications and test scripts for the Texas Instrument's TIVA Launchpad, MSP430 microcontroller.
                                br
                                | Developed a cross-platform CLI app for evaluating and grading assignments of users of the e-Yantra MOOC portal, thus freeing up considerable resources from the server.
                                br
                            a.social-icon-set(href='https://www.youtube.com/watch?v=MdUUiR9YFro')
                                i.fab.fa-youtube
                                |       Overview of the project
                        .flex-shrink-0
                            span.text-primary May, 2020 - June, 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SPArK-BOT Platform
                            .subheading.mb-3 Final Year Project and e-YANTRA IDEAS COMPETITION 19-20
                            p
                                | Created a robotic platform which all students, hobbyists and developers alike, can use to build their applications. No programming experience is required to build applications on this platform. At the same time, it is also scalable and experienced programmers can use this platform along with their programming language of choice to build advanced robotic solutions.
                            a.social-icon-set(href='https://youtu.be/zDt4yl8qHLg')
                                i.fab.fa-youtube
                                |       Demonstration video
                            a.social-icon-set(href='https://youtu.be/PmfAKlIVun4')
                                i.fab.fa-youtube
                                |       Elevator Pitch    
                        .flex-shrink-0
                            span.text-primary August 2019 - March 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Computer Graphics Virtual Lab
                            .subheading.mb-3 Virtual Labs, Indian Institute of Technology - Bombay
                            p
                                | Developed a virtual lab for the Computer Graphics subject. The virtual lab is approved and hosted by the Indian Institute of Technology - Bombay and the Ministry of Human Resource Development (MHRD), Government of India, under the National Mission on Education through Information and Communication Technology (NMEICT).
                            a.social-icon-set(href='http://vlabs.iitb.ac.in/vlabs-dev/labs/cglab/index.html')
                                i.fas.fa-flask
                                |       Virtual lab hosted by IIT-Bombay
                        .flex-shrink-0
                            span.text-primary January 2019 - April 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Android App Developer
                            //.subheading.mb-3 Third Year Mini-Project
                            p
                                | Developed a social messaging android app called SPArK Messenger. Did a survey of all the existing messaging platforms and then identified missing features in all of them. Studied the findings of the survey and developed six features which were not present in any of the existing apps.
                                br
                                | Also developed an app to manage Firebase database easily from any phone without using Google’s online portal. This app is still under development.
                            a.social-icon-set(href='https://play.google.com/store/apps/developer?id=SPArK+Apps')
                                i.fab.fa-google-play
                                |       Apps hosted on the Google Play Store
                        .flex-shrink-0
                            span.text-primary August 2018 - November 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Javascript Game Developer
                            //.subheading.mb-3 Third Year Mini-Project
                            p
                                | Developed a catalog of simple, retro styled, browser based games, entirely coded in vanilla Javascript.
                            a.social-icon-set(href='https://ptp28.github.io/games-js/')
                                i.fas.fa-gamepad
                                |       Play games in your browser.
                            a.social-icon-set(href='https://github.com/ptp28/games-js')
                                i.fas.fa-code
                                |       Source code.    
                        //.flex-shrink-0
                        //    span.text-primary January - November 2018


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Loony Tunes
                            //.subheading.mb-3 Third Year Mini-Project
                            p
                                | Developed an application called 'Loony Tunes' which let's you upload, store, and play all of your music from the cloud.
                            a.social-icon-set(href='https://loonytunes.herokuapp.com')
                                i.fas.fa-music
                                |       Loony Tunes.
                            a.social-icon-set(href='https://github.com/ptp28/loony-tunes')
                                i.fas.fa-code
                                |       Source code.    
                        //.flex-shrink-0
                        //    span.text-primary January - November 2018


            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Pune Vidyarthi Griha's College of Engineering and Technology
                            .subheading.mb-3 Bachelor of Engineering
                            div Computer Engineering - SPPU 2015 PATTERN.
                            p GPA: 7.78
                        .flex-shrink-0
                            span.text-primary August 2016 - July 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 S.M. Choksey Junior College
                            .subheading.mb-3 Higher Secondary Certificate (HSC)
                        .flex-shrink-0
                            span.text-primary July 2014 - March 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 The Bishop's School, Camp
                            .subheading.mb-3 Indian Certificate of Secondary Education (ICSE)
                        .flex-shrink-0
                            span.text-primary June 2002 - March 2014

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            | C / C++
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-android
                        li.list-inline-item
                            i.fab.fa-swift
                        //li.list-inline-item
                        //    i.fab.fa-laravel
                        li.list-inline-item
                            i.fab.fa-raspberry-pi
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-linux
                    .subheading.mb-3 Workflows
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Test Driven Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a budding engineer, I enjoy my time working on my projects and self-development. I love to learn new things and am constantly in search for the next new-technology to try. I spend a large amount of my free time exploring the latest technological advancements in research as well as new tech-products coming out into the market.
                    p.mb-0
                        | When I need a break from tech, I love to travel and wander outdoors. Tennis is the sport which is most dear to my heart and I follow the sport with the utmost passion. But I also enjoy playing cricket, badminton and chess. I am also a member of a ḍhol-taasha patak named Shrimant Yogi and play the ḍhol every year during the Gaṇesh festival.

            hr.m-0

            // Acomplishments
            section#acomplishments.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Intern at e-Yantra, IIT-Bombay.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Winner at the National Finals of the e-Yantra Ideas Competition 2019-20, hosted by IIT-Bombay.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st
                            | Place in I2IT State Level Project Competition 2020.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Head of IIT-Bombay's Student's forum for virtual lab development.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Speaker and Resource Person for 2 National level Virtual Labs Development Bootcamps and 1 National Level Bootathon workshop at Ahmedabad (January, 2019), Aurangabad (February, 2019) and Banda (September, 2019) respectively.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Core Developer for Virtual Labs, IIT-Bombay.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Intern at Virtual Labs, IIT-Bombay.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Head of the Technical Team of the student's association of the Computer Department of PVG's COET.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Project Manager for the Product Innovation Lab of PVG's COET.


        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
